@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary-100: #0e0e0e;
  --text-primary-200: #383838;
  --text-primary-300: #000000;
  --text-secondary: #555555;
  --text-accent: #0070f3;

  --bg-screen: #f3f3f3;
  --bg-primary: #00b6ff;
  --bg-secondary-100: #edf8ff;
  --bg-secondary-200: #e7f2fc;
}

.dark {
  --text-primary-100: #f3f3f3;
  --text-primary-200: #cacaca;
  --text-secondary: #989ea8;
  --text-accent: #3b82f6;

  --bg-screen: #1a1a1a;
  --bg-secondary-100: #1f2021;
  --bg-secondary-200: #0f172a;
}

html {
  background-color: transparent;
}

[data-theme] {
  background-color: var(--bg-screen);
}
